GEMINI_API_KEY=
DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

ENVIRONMENT=development

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRE_MINUTES=10080
